body {
    background-color: whitesmoke;
    width: 1200px;
  }
  h1 {
    color: lightslategray;
  }
  .logo{
    position: absolute;
    left:250px;
    right: 1000px;
    padding: 20px;
    vertical-align: text-top;
    text-align: center;  
  }
  .devv{
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
  }
  .logo_name
  {
      position: absolute;
      left: 500px;
        right: 250px;

      top: 0px;
      bottom: 700px;
      vertical-align: text-top;
      text-align: center;  
      font-size: 400%;
    padding: 20px;
  }
  p
  {
    color: black;
    position: absolute;
        left: 800px;
        right: 250px;
      top: 350px;
      text-align: center;
    
    font-size: 25px
  }
  .list_main{
    position: absolute;
    vertical-align: text-top;
    right: 1000px;
    left:200px;
    top: 250px;
  }
  .gen{
      width: 1200px;
      height: 1200px;
  }
  .users_table
  {
    position: absolute;
    right:200px;
    left:900px;
    top: 300px; 
  }
  .changeRole
  {
    position: absolute;
    top: 700px;
    left: 600px;
  }
  .about_table
  {
    position: absolute;
    left: 800px;
    right: 250px;
    top: 400px;
    text-align: right;
    font-size: 25px
  }
  .Bio_Photo
  {
    position: absolute;
    top: 250px;
    left: 500px;
  }
  .User_table{
    color: black;
    position: absolute;
        left: 800px;
        right: 250px;
      top: 300px;
      text-align: center;
    
    font-size: 25px
  }
  .about
  {
    position: absolute;
        left: 800px;
        right: 250px;
      top: 400px;
      text-align: center;
  }
  .user_story
  {
    color: black;
    position: absolute;
        left: 800px;
        right: 250px;
      top: 300px;
      text-align: center;
    
    font-size: 25px
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }